[Unit]
Description=Send wol signals over mqtt
After=network.target ntpdate.service

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/python3 -u main.py
WorkingDirectory=/home/pi/mqtt2wol/
StandardOutput=inherit
StandardError=inherit
StartLimitBurst=1000
StartLimitIntervalSec=1000
Restart=always
RestartSec=90
User=pi

[Install]
WantedBy=multi-user.target
